body {
    text-align: center;
}

#background {
    top:                 0;
    left:                0;
    right:               0;
    bottom:              0;
    position:            absolute;

    opacity:             0.15;
    z-index:             0;

    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center;
}

main {
    height:         100%;
    width:          100%;
    padding:        2em;

    position:       relative;
    z-index:        1;

    border:         2px solid var(--xo-color-main);

    display:        flex;
    flex-direction: column;
}

#tab-content, main {
    display:        flex;
    flex-direction: column;
    gap:            8px;
    flex-grow:      1;
}

header {
    width:               200px;
    height:              125px;
    margin:              0 auto;

    background-image:    url('../images/logo.png');
    background-size:     contain;
    background-position: center;

    background-repeat:   no-repeat;
}

input {
    width: 100%;
}

button, input {
    border:           none;
    background-color: var(--xo-color-opacity-low);
    color:            var(--xo-color-font);
    padding:          0 1em;
    line-height:      35px;
    font-weight:      bold;
}

button {
    cursor: pointer;
}

.input-group .label {
    text-align: left;
}

.bordered {
    border: 2px solid var(--xo-color-main);
}

.bordered:hover {
    background-color: var(--xo-color-opacity-high);
}

button:disabled, input:disabled, .bordered:disabled {
    opacity: 0.3;
    filter:  grayscale(1);
    cursor:  not-allowed;
}
